behave>=1.2.6
black==23.7.0
Flask==2.3.2
Flask-Bootstrap==3.3.7.1
gunicorn==21.2.0
jinja2>=3.1.2
pdoc==14.0.0
prometheus-client==0.17.1
prometheus-flask-exporter==0.22.4
PyHamcrest>=2.0.4
pylint==2.17.5
pytest>=7.4.0
pytest-cov==4.1.0
pytest-testinfra==8.1.0
PyYaml==6.0.1
redis==4.6.0
Werkzeug>=2.2.3
wrapt>=1.15.0
# Postgres development
psycopg2-binary==2.9.9
