{% extends "base-bootstrap.html" %}
{# /*
    <!-- {% import 'bootstrap/wtf.html' as wtf %} -->
*/ #}
{% block content %}
    <h1>Welcome to {{ config['APP_NAME'] }}</h1>

    <h2>Your request was </h2>
    <p>
        <dl>
        {% for key in echo %}
        <dt>{{ key }}:</dt>
        <dd></dd>{{ echo[key] }}</dd>
        {% endfor %}
        </dl>
    </p>

    <!-- <h2>Server Info</h2>
    <p>
        {% for key in info %}
        {{ key }}: {{ info[key] }}<br>
        {% endfor %}
    </p> -->
    
    <h2>App version</h2>
    <p>
        Testserver version is {{ env.version }}<br>
        Running in {{ env.environment }} environment<br>
    </p>

    {% if 0 < page_views %}
    <p>
        This page has been viewed {{ page_views }} times.
    </p>
    {% endif %}
{% endblock %}