{% extends "base-bootstrap.html" %}

{% block content %}
    <h1>Service status</h1>
    <p>
        Local server time is {{ resp.now }}<br>
        Server ip: {{ resp.local_ip }}<br>
        Load average: {{ resp.load_average }}<br>
    </p>
    <p>
        Platform: {{ resp.platform }}<br>
        System: {{ resp.system}}<br>
        Processor: {{ resp.processor }}<br>
        Architecture: {{ resp.architecture }}<br>
        The container name is {{ resp.hostname }}<br>
    </p>
{% endblock %}