{% extends "base-bootstrap.html" %}

{% block content %}
    <h1>Status</h1>
    <h2>Server Info</h2>
    <p>
        {% for key in server_info %}
        {{ key }}: {{ server_info[key] }}<br>
        {% endfor %}
    </p>
    <h2>Server State</h2>
    <p>
        {% for key in server_state %}
        {{ key }}: {{ server_state[key] }}<br>
        {% endfor %}
    </p>
    <h2>App Version</h2>
    <p>
        Testserver version is {{ env.version }}<br>
        Running in {{ env.environment }} environment<br>
    </p>
{% endblock %}