{% extends "base.html" %}
<!-- {% import 'bootstrap/wtf.html' as wtf %} -->

{% block app_content %}
    <h1>Welcome to {{ title }}</h1>
    <p>
        Local server time is {{ resp.now }}<br>
        The server ip is: {{ resp.local_ip }}<br>
        Platform: {{ resp.platform }}<br>
        System: {{ resp.system}}<br>
        Processor: {{ resp.processor }}<br>
        Architecture: {{ resp.architecture }}<br>
        The container name is {{ resp.container_name }}<br>
        The secret key is {{ resp.secret}}<br>
    </p>
    <p> 
        Your request came from: {{ resp.remote_ip }}<br>
    </p>
{% endblock %}